In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

In [2]:
df = pd.read_csv('music.csv')

In [3]:
df.head()

   age  gender   genre
0   20       1  HipHop
1   23       1  HipHop
2   25       1  HipHop
3   26       1    Jazz
4   29       1    Jazz

In [4]:
df.shape

(18, 3)

In [5]:
df.describe()

             age     gender
count  18.000000  18.000000
mean   27.944444   0.500000
std     5.127460   0.514496
min    20.000000   0.000000
25%    25.000000   0.000000
50%    28.000000   0.500000
75%    31.000000   1.000000
max    37.000000   1.000000

In [6]:
X = df.drop(columns=['genre'])
y = df['genre']

In [7]:
model = DecisionTreeClassifier()
model.fit(X,y) 
# pred = model.predict([[21,0], [27,1]])
# pred

DecisionTreeClassifier()

## Spliting Train and Test dataset

In [ ]:
# from sklearn.model_selection import train_test_split
# from sklearn.metrics import accuracy_score

In [ ]:
# X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)
# model = DecisionTreeClassifier()
# model.fit(X_train,y_train) # In model fit will pass the train dataset of X and y.
# pred = model.predict(X_test) #  # In Predict will pass the input test dataset X.
# score = accuracy_score(y_test, pred) # 1st argument is expected values(y_test), and the 2nd argument is actual values.
# score

## To save the trained model

In [ ]:
# from sklearn.externals import joblib
import joblib
joblib.dump(model, 'Music-rec.joblib') # The joblib will save the model into a binary file

In [ ]:
model = joblib.load('Music-rec.joblib')
pred = model.predict([[21,1]])
pred

## Visualization

In [8]:
from sklearn import tree

In [9]:
tree.export_graphviz(model, out_file='Music-rec.dot',
                    feature_names=['age', 'gender'], 
                    class_names=sorted(y.unique()),
                    label = 'all',
                    rounded=True,
                    filled=True)